.hero {
  height: 100%;
  padding: 8rem 2rem;
  background-color: #495e57;
  display: grid;
  grid-template-columns: 1fr;
  font-family: "Markazi Text", serif;
  color: #edefee;
  text-align: center;
  place-items: center;
}

.main-container {
  width: 100%;
}

.main-title {
  font-weight: 500;
  font-size: 48px;
  color: #edefee;
}

.main-subtitle {
  font-size: 32px;
  margin-bottom: 1rem;
  font-weight: 500;
}

.main-text {
  font-size: 24px;
  margin-bottom: 2rem;
  font-weight: 500;
}

.image-container {
  width: 250px;
  margin-top: 2rem;
}

.display-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 1rem;
}

.reserve-button {
  font-family: "Karla", sans-serif;
  font-weight: 800;
  background-color: #edefee;
  color: #333333;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
}

.reserve-button:hover {
  background-color: #f4ce14;
}

@media (min-width: 768px) {
  .hero {
    padding: 4rem;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    justify-content: center;
    align-items: center;
  }

  .main-title {
    font-size: 64px;
  }

  .main-subtitle {
    font-size: 48px;
    margin-bottom: 2rem;
  }

  .main-text {
    font-size: 40px;
    margin-bottom: 5rem;
  }

  .image-container {
    width: 325px;
  }

  .display-image {
    height: 325px;
  }
}

@media (min-width: 1024px) {
  .hero {
    padding: 6rem;
  }
}

@media (min-width: 1440px) {
  .hero {
    text-align: left;
  }

  .main-container {
    width: 90%;
    padding-left: 20rem;
  }

  .image-container {
    width: 400px;
  }

  .display-image {
    height: 400px;
  }
}
