.bookingform {
  background-color: #495e57;
  font-family: "Karla", sans-serif;
  color: #edefee;
}

.navbar {
  background-color: #edefee;
}

.booking-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}

.booking-headings {
  color: #edefee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subheading {
  font-weight: 800;
  font-size: 48px;
  align-items: center;
  justify-content: center;
  color: #f4ce14;
}

.subheading-2 {
  font-weight: 800;
  font-size: 32px;
  align-items: center;
  justify-content: center;
}

input,
select {
  width: 100%;
  height: 35px;
  border-radius: 0.5rem;
  border: none;
  font-family: "Karla", sans-serif;
  font-weight: 800;
}

label {
  font-family: "Karla", sans-serif;
  font-weight: 800;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}

.button-container {
  display: flex;
  margin: 3rem 3rem;
}

.page-button {
  margin-right: 4rem;
  font-family: "Karla", sans-serif;
  font-weight: 800;
  color: #333333;
  border-radius: 1rem;
  cursor: pointer;
  text-decoration: none;
  padding: 20px 24px;
  min-width: 8rem;
}

.page-button:hover {
  background-color: #f4ce14;
}

.submit-button {
  font-family: "Karla", sans-serif;
  font-weight: 800;
  color: #333333;
  border-radius: 1rem;
  cursor: pointer;
  text-decoration: none;
  padding: 20px 24px;
  min-width: 8rem;
}

.submit-button:hover {
  background-color: #f4ce14;
}

/* Media Query for Smartphones */
@media (max-width: 767px) {
  .subheading {
    font-size: 32px;
  }

  .subheading-2 {
    font-size: 24px;
  }

  .button-container {
    flex-direction: column;
    margin: 1rem 3rem;
  }

  .page-button,
  .submit-button {
    margin: 1rem 0;
    min-width: 100%;
  }
}
